<%= form_for @cost, :html => {:class => "form-group"} do |f| %>
<br>
<div class="row westmontTextMuseo3">
	<div class="col-xs-12">
		<% if @cost.errors.any? %>
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Warning!</strong> <%= pluralize(@cost.errors.count, "error") %> prevented your cost from being saved! They are: <%= @cost.errors.full_messages.join(", ") %>. 
		</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="row center-block">
			<div class="col-xs-3 center-block">
				<%= f.label :category, "Category" %>
				<%= f.select :category, options_for_select(getAllCategories, :selected => @cost.category.nil? ? 'Please Select' : @cost.category), {}, {:required => true, :class => 'form-control', id: "category-select"} %>
				<div id="new-category">
					<br>
					<%= f.label :category, "New Category Name" %>
					<%= f.text_field :category, :class => 'form-control', placeholder: "e.g. Size", id: 'new-category-text'%>
				</div>
			</div>
			<div class="col-xs-3 ">
				<%= f.label :option, "New Option Name" %>
				<%= f.text_field :option, :class => 'form-control', placeholder: "e.g. 8.5\" x 11\"", id: 'new-option-text'%>
			</div>
			<div class="col-xs-3">
				<%= f.label :per_job, "Cost per job" %>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<%= f.number_field :per_job, :class => 'form-control', :step => 0.01 %>
				</div>
			</div>
			<div class="col-xs-3" >
				<%= f.label :per_page, "Cost per page" %>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<%= f.number_field :per_page, :class => 'form-control', :step => 0.01 %>
				</div>
			</div>
		</div>
		<br>
		<div>
			<%= f.submit (@edit)? 'Update Cost':'Submit Cost', :class => 'btn btn-info btn-lg' %>
		</div>
			<% end %>
	</div>
</div>

